# Modules get a copy of build.gradle as they are not allowed to have their own (for build security / sandboxing)
build.gradle

# IntelliJ
*.iml

# Eclipse
.checkstyle
.classpath
.project
.settings
bin/
build/
.idea/misc.xml
.idea/workspace.xml
.idea/vcs.xml
.idea/runConfigurations.xml
.idea/checkstyle-idea.xml
